.header {
    display: block;
    text-align: left;
    margin: auto;
}

.mainDiv {
    width: 1000px;
    display: block;
    text-align: left;
    margin: auto;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    background-color: #FFF2EB;
}

.description {
    line-height: 175%;
}

.audioPlayer {
    margin: auto;
    width: 300px;
}

.audioSubtitle {
    margin: auto;
    width: 231px;
}

.audioVisDiv {
    display: flex;
    justify-content: center;
    align-items: left;
}

.footer {
    width: 800px;
    display: flex;
    text-align: left;
    margin: auto;
}

#canvas-bar {
    background-color: #ffb4a2;
}

#audioVisElement1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
    margin: auto;
}

#audioVisElement2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
    margin: auto;
    position: absolute;
}

#emptyDiv1{
    height: 150px;
}

code {
    background-color: #ffcdb2;
    width: 1000px;
    border-radius: 2px;
    border-width: 2px;
    padding: 4px;
    display: none;
    font-size: larger;
}

ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
    background-color:#FFF2EB;
}

.active {
    display: inline-block;
    background-color:#ffcdb2;;
}

code .active {
    display: block;
}

.tabTitle {
    margin: 10px;
    font-size: larger;
}

