img {
    width: 600px;
    height: 600px;
}

.header {
    text-align: center;
}

#description {
    width: 800px;
    display: flex;
    position: absolute;
    text-align: center;
    margin: auto;
}

#audioPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#audioVisDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 800px;
    display: flex;
    text-align: center;
    margin: auto;
}